@font-face {
  font-family: 'Titillium-Black';
  src: url('../fonts/Titillium Web Black 900.ttf');
}

@font-face {
  font-family: 'Titillium-Bold';
  src: url('../fonts/Titillium Web Bold 700.ttf');
}

@font-face {
  font-family: 'Titillium-ExtraLight';
  src: url('../fonts/Titillium Web ExtraLight 275.ttf');
}

@font-face {
  font-family: 'Titillium-Light';
  src: url('../fonts/Titillium Web Light 300.ttf');
}

@font-face {
  font-family: 'Titillium-Regular';
  src: url('../fonts/Titillium Web Regular 400.ttf');
}

@font-face {
  font-family: 'Titillium-SemiBold';
  src: url('../fonts/Titillium Web SemiBold 600.ttf');
}
